# Backend API Base URL
API_BASE_URL=http://10.0.2.2:5000/api/v1
SOCKET_BASE_URL=http://10.0.2.2:5000

# Mapbox / OpenStreetMap Tile URL
MAP_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png

# Environment
APP_ENV=development
