# Flutter/Dart
.dart_tool/
.packages
build/
*.iml

# Environment
.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Generated
*.g.dart
*.freezed.dart
.flutter-plugins
.flutter-plugins-dependencies
